.banner {
    height:  300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#bannerProds{
    background-image: url("src/assets/images/bruno-thethe-2EeUntOpHJ0-unsplash.jpg");
    height: 100px;
}