<div id="carouselContainer" class="carousel slide " data-ride="carousel">
    <div class="carousel-inner">
      <div class="banner carousel-item active" data-interval="3000" id="bannerHome">
        <!-- <img src="../../assets/images/lorenzo-herrera-p0j-mE6mGo4-unsplash.jpg" class="d-block w-100" alt="..."> -->
        <div class="carousel-caption">
            <h1 class="text-white">Ultimate Consoles</h1>
            <p class="text-white-50 d-none d-md-block">The best site to buy modded and upgraded consoles.</p>
        </div>
      </div>
      <div class="banner carousel-item" data-interval="2000" id="bannerProds">
        <div class="carousel-caption ">
            <h1 class="text-white">Ultimate Consoles</h1>
            <p class="text-white-50">The best site to buy modded and upgraded consoles.</p>
        </div>
      </div>
      <div class="banner carousel-item" id="bannerGuides">
        <div class="carousel-caption d-none d-md-block">
            <h1 class="text-white">Ultimate Consoles</h1>
            <p class="text-white-50">The best site to buy modded and upgraded consoles.</p>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselContainer" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselContainer" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
<div class="container marketing">
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">The best way to play</h2>
        <p class="lead">You will experience the best that gaming has to offer</p>
      </div>
      <div class="col-md-5">
        <img src="../../assets/images/pawel-durczok-a4jQAuh7C30-unsplash.jpg" width="350" alt="">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Alway up to date</h2>
        <p class="lead">Only the more recent builds from the community and from our suppliers</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../../assets/images/mike-meyers-ip15nC1LJ0o-unsplash.jpg" width="350" alt="">
    </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Bring your memories back to Life</h2>
        <p class="lead">Here you will find every console you had or still posses (only better)</p>
      </div>
      <div class="col-md-5">
        <img src="../../assets/images/nikita-kostrykin-i1Q9pphrWUw-unsplash.jpg" width="350" alt="">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->